@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
}

main {
  width: 100%;
  display: flex;
}

main .content {
  width: 100%;
  padding: 60px 40px;
}

main .content h1 {
  padding: 20px 0;
}

/* Button */
.btn-primary {
  background-color: black;
  padding: 15px 20px;
  color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.6s;
}

.btn-primary:hover {
  background-color: transparent;
  color: black;
}

.btn-edit {
  background-color: orange;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}

.btn-delete {
  background-color: red;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}

.sidebar {
  width: 20%;
  background-color: black;
  padding: 40px 40px;
  height: 100vh;
  line-height: 80px;
}

.sidebar a {
  color: #fff;
}

.sidebar .logo {
  font-size: 36px;
  font-weight: 600;
}

.sidebar ul li {
  transition: all 0.4s ease-in-out;
}

.sidebar ul li:hover {
  background-color: #fff;
  border-radius: 5px;
}

.sidebar ul li:hover a {
  padding: 20px 20px;
  color: black;
}

.table {
  width: 100%;
  margin-top: 50px;
}

.table thead tr th {
  padding: 20px 20px;
  background-color: black;
  color: #fff;
}

.table tbody tr:hover {
  background-color: #eee;
}

.table tbody tr td {
  padding: 20px 20px;
  text-align: center;
}

/* Form */
.form .form-group {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form .form-group input,
select {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 30px;
  font-size: 16px;
}
